<h2>Eventos</h2>
<hr>
<div class="row mb-2 ms-1">
  <div class="col-1">
    <label class="mt-2 fw-bold lh-sm">Filtro: </label>
  </div>
  <div class="col">
    <input
      type="text"
      class="form-control"
      placeholder="buscar"
      [(ngModel)]="filtroLista"
      >
  </div>
</div>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>
        <button class="btn btn-outline-light btn-sm" (click)="alterarImagem()">{{exibirImagem ? 'Ocultar' : 'Exibir'}}</button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtde Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img [collapse]="!exibirImagem"
          [isAnimated]="true"
          src="/assets/{{evento.imagemUrl}}"
          [style.width.px]="larguraImg"
          [style.margin.px]="margemImg">
      </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm me-2">Editar</button>
        <button type="button" class="btn btn-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>

